server.port=1705
server.servlet.context-path=/api

spring.datasource.url=jdbc:mysql://localhost:3306/laundry_service
spring.datasource.username=root
spring.datasource.password=root

jwt.secret=7f8ab9b74f6d71fdb27821d92e2b8b31c2cfb8ac073bc65b7ac2d3d08f477b83
jwt.expiration=86400

spring.profiles.active=dev
